<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conformation</title>
    <link rel="stylesheet" type="text/css" href="conformation.css">
</head>
<body>
   <div id="home">
    <div id="navbar">
        <h1>TOURMATE</h1>
        <ul>
            
            <li><a href="">WELCOME</a></li>
            <li><a href="">PROFILE</a></li>
            <li><a href="">FIND A MATCH</a></li>
            <li><a href="">HISTORY</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">CONTACTS</a></li>
        </ul>
     </div> 

     <div id="form-section">
        <div>
        <h1>Conformation</h1>
        </div>
        <div id="pro">
                <div id="profile">
                    <div>
                        <h2 class="center">Your Profile</h2>
                    </div>
                    <div>
                         <label>Name:</label>
                         <label><%= name %></label>
                
                    </div>


                   


                    <div>
                        <label> Gender:</label>
                        <label><%= gender %></label>
                
                    </div>
                    
                    
                    <div>
                        <label>  DOB:</label>
                        <label><%= dob %></label>
                    
                    </div>


                    <div>
                        <label> Age:</label>
                         <label><%= age %></label>
                    
                    </div>


                    <div>
                         <label> Phone no:</label>
                         <label><%= phno %></label>
                    
                    </div>


                    <div>
                         <label> Email Id:</label>
                        <label><%= email %></label>
                    
                    </div>

                    <div>
                        <label>State</label>
                        <label><%= state %></label>
                     
                        </div>
                
                
                    <div>
                        <label> City:</label>
                        <label><%= city %></label>
                
                    </div>
                
                </div>

                <div id="pprofile">
                    <div>
                        <h2 class="center">Partner Profile</h2>
                    </div>
                    <div>
                        <label>First Name:</label>
                        <label>Nitisha</label>
                
                    </div>


                    <div>
                        <label>Last Name:</label>
                        <label>Pal</label>
                    
                    </div>


                    <div>
                        <label> Gender:</label>
                        <label>Female</label>
                
                    </div>


                    <div>
                        <label>  DOB:</label>
                        <label>23/04/2000</label>
                    
                    </div>


                    <div>
                        <label> Phone No:</label>
                        <label>1234567890</label>
                    
                    </div>


                    <div>
                        <label> Document:</label>
                        <label>DL</label>
                    
                    </div>


                    <div>
                        <label> Email Id:</label>
                        <label>nitishapal2310@gmail.com</label>
                    
                    </div>
                
                
                    <div>
                        <label> Address:</label>
                        <label>BBSR</label>
                
                    </div>
                
                </div>
            </div>

            <div id="msg">
                <div class="center">
                    <h2>Conformation Message</h2>
                </div>

                <div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt illo aliquid tenetur ut recusandae architecto accusantium neque dolorum expedita, libero minima, nihil repellendus doloribus quo eaque voluptas odit cum, quibusdam error. Unde laboriosam sequi consequuntur explicabo? Cupiditate, facere. Inventore aliquid ducimus iusto veritatis?</p>
                </div>

            </div>
    </div>
    
    
</div>

 <footer>
    <div class="center">
        Copyright &copy;www.TourMate.com. All rights reserved.
     </div>
</footer>
    
</body>
</html>